.body {
    font-family: 'cardo', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: big-caslon-fb, serif;
}

.scrollButton a {
    height: 2rem;
    width: 2rem;
    font-size: 3rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 100;
    font-size: 1.5rem;
    padding: 0;
}

.navbar.navbar-expand-md {
    background-color: transparent;
}

.nav-item a {
    text-transform: uppercase;
}

.nav-item.active {
    border-bottom: 2px solid orange;
}

#main {
    background-image: url("https://images.pexels.com/photos/461940/pexels-photo-461940.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;

    /* The next two attributes were assigned so the scroll button would not appear until after the main section and companies sections had been seen. */
    z-index: 1000;
    position: relative;
}

.jumbotron-fluid .blockquote-footer {
    font-size: 3rem;
}

.companies {
    background-image: linear-gradient(to right, rgb(142, 131, 161), rgb(245, 153, 136));
    /* The next two attributes were assigned so the scroll button would not appear until after the main section and companies sections had been seen. */
    z-index: 1000;
    position: relative;
}

.secondary-main {
    background-color: #FEF5E7;
    text-align: center;
    min-height: 55vh;
}

.card.secondary-card {
    background-color: #FEF5E7;
    border: none;
}

.card.secondary-card .card-header {
    border: 2px solid black;
}

.tertiary-main {
    min-height: 70vh;
    background-color: white;
}

.blockquote p {
    font-size: 1.75rem;
    line-height: 3rem;;
}

.contact {
    min-height: 30vh;
    background-image: url(https://images.pexels.com/photos/545520/pexels-photo-545520.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact p {
    text-transform: uppercase;
}

.footer{
    min-height: 50vh;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-main{
    height: 90%;
    font-size: .9rem;
}

.footer span {
    font-size: .5rem;
}

.footer img {
    max-height: 4rem;
}

.logo {
    border-radius: 3px;
}

.otherLogo {
    border-radius: 50%;
}

/* Slider */

.slider-img {
    width: 60%;
    height: auto;
}

@media only screen and (max-width: 800px) {
    .display-4 {
        font-size: 2.5rem;
    }
}
