.body {
    font-family: 'cardo', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: big-caslon-fb, serif;
}

.main {
    background-image: url("https://images.pexels.com/photos/461940/pexels-photo-461940.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.navbar.navbar-expand-md {
    background-color: transparent;
}

.nav-item a {
    text-transform: uppercase;
}

.nav-item.active {
    border-bottom: 2px solid orange;
}

.jumbotron-fluid .blockquote-footer {
    font-size: 3rem;
}

.companies {
    background-image: linear-gradient(to right, rgb(142, 131, 161), rgb(245, 153, 136));
}

.secondary-main {
    background-color: #FEF5E7;
    text-align: center;
    min-height: 55vh;
}

.card.secondary-card {
    background-color: #FEF5E7;
    border: none;
}

.card.secondary-card .card-header {
    border: 2px solid black;
}

.tertiary-main {
    min-height: 80vh;
    background-color: white;
}

.blockquote p {
    font-size: 1.75rem;
    line-height: 5rem;;
}

.contact {
    min-height: 30vh;
    background-image: url(https://images.pexels.com/photos/545520/pexels-photo-545520.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact p {
    text-transform: uppercase;
}

.footer .row{
    min-height: 50vh;
    background-color: black;
    color: white;
}

